# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Entornos virtuales
env/
venv/
.venv/
ENV/

# Testing y Cobertura
.pytest_cache/
.coverage
htmlcov/

# IDEs & Editores
.vscode/
.idea/
*.swp
*.swo

# Sistema Operativo
.DS_Store
Thumbs.db

# Documentos internos de contexto y prompts
Plaintext
markdown.md

